@{
    Layout = null; 
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f0f0f0;
            height: 80vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url('https://www.infisport.com/media/amasty/blog/SprintDeportesEquipo1_2.jpg');
            background-size: 55%; /* Adjusted size */
            background-position: center;
            background-repeat: no-repeat; /* Prevent repeating the image */
            color: #ffffff;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        }

        .container {
            background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
            padding: 40px;
            border-radius: 15px;
            max-width: 500px;
            text-align: center;
        }
        h2 {
            font-size: 2.5rem;
            color: #ff6347;
            font-weight: 600;
            margin-bottom: 20px;
        }
        p {
            font-size: 1.2rem;
            color: #f8f9fa;
            margin-bottom: 30px;
        }
        .btn-primary {
            background-color: #ff6347;
            border: none;
            padding: 15px 25px;
            font-size: 1.2rem;
            text-transform: uppercase;
            border-radius: 50px;
            transition: background-color 0.3s ease;
            color: #ffffff;
            text-decoration: none;
        }
        .btn-primary:hover {
            background-color: #e55347;
        }
        .text-center {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Bienvenido a la Página de Inicio</h2>
        <!-- Botón de Iniciar que redirige a _Layout.cshtml -->
        <a href="@Url.Action("Seleccionar", "Rol")" class="btn btn-primary">Iniciar</a>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
