@model Proyecto_Programacion_Grupo_1.Models.ReservaClase

@{
    ViewData["Title"] = "Eliminar Clase";
}

<h1>Eliminar Reserva</h1>

<h3>¿Estás seguro de que deseas eliminar esta Reserva?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservaID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaseID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaReserva)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ReservaID" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>