@model Proyecto_Programacion_Grupo_1.Models.ReservaClase

@{
    ViewData["Title"] = "Editar Reserva";
}

<h1>Editar Reserva</h1>

<h4>Reserva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="ReservaID" />

            <div class="form-group">
                <label asp-for="ReservaID" class="control-label"></label>
                <input asp-for="ReservaID" class="form-control" />
                <span asp-validation-for="ReservaID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UsuarioID" class="control-label"></label>
                <textarea asp-for="UsuarioID" class="form-control"></textarea>
                <span asp-validation-for="UsuarioID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechaReserva" class="control-label"></label>
                <input asp-for="FechaReserva" type="datetime-local" class="form-control" />
                <span asp-validation-for="FechaReserva" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ClaseID" class="control-label">Clase</label>
                <select asp-for="ClaseID" class="form-control" asp-items="ViewBag.Clases">
                    <option value="">Seleccione una clase</option>
                </select>
                <span asp-validation-for="ClaseID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
